- content_for :headline, 'Scores'

.row
  .col-md-6
    %h2 Personal
    %ul.list-group
      %li.list-group-item
        Current Streak:
        #current_streak.pull-right #{ @user.current_streak } #{ @user.current_streak_type }
      %li.list-group-item
        Longest Correct Streak
        #longest_correct_streak.pull-right= @user.longest_correct_streak
      %li.list-group-item
        Longest Incorrect Streak
        #longest_incorrect_streak.pull-right= @user.longest_incorrect_streak
      %li.list-group-item
        Total Answers Given
        #total_answers.pull-right= @user.total_answers
      %li.list-group-item
        Total Correct Answers Given
        #total_correct_answers.pull-right= @user.total_correct_answers
      %li.list-group-item
        Total Incorrect Answers Given
        #total_incorrect_answers.pull-right= @user.total_incorrect_answers
      %li.list-group-item
        Questions Created
        #questions_created.pull-right= @user.questions_created
      %li.list-group-item
        Score
        #score.pull-right= @user.score
  .col-md-6
    %h2 Global
    %table#scoreboard.table.table-striped.table-bordered
      %thead
        %tr
          %th Score
          %th Username
      %tbody
        = render @users
    #scoreboard_pagination= render partial: 'pagination', locals: { users: @users }
