%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{ type: 'button',
        data: { toggle: 'collapse', target: '#navbar' },
        aria: { expanded: 'false', controls: 'navbar' }}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Trivia', root_path, class: 'navbar-brand'
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        - if can? :create, Question
          %li= link_to 'New Question', new_multiple_choice_question_path
        - if can? :create, Answer
          %li= link_to 'Answer Question', new_answer_path
        - if can? :show, User
          %li= link_to 'View Scores', user_path(current_user)

      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li
            = link_to '#', class: 'dropdown-toggle', role: 'button',
              data: { toggle: 'dropdown' }, aria: { haspopup: true, expanded: false } do
              = current_user.username
              %span.caret
            %ul.dropdown-menu
              %li= link_to 'Edit account', edit_user_registration_path(current_user)
              %li= link_to 'Log out', destroy_user_session_path, method: :delete
        - else
          %li
            = link_to 'Log in', new_user_session_path
